.user-gallery {
  width: 100%;

  > .heading {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  > .items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;

    @media screen and (min-width: 768.1px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  > .heading {
    display: flex;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    > .title {
      margin-right: auto;
      flex-grow: 8;
    }
  
    > .sort {
      font-weight: bold;
      text-align: center;
      flex-grow: 1;
    }
  }

  > .heading + .items {
    margin-top: 32px;
  }
}
